<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>


  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
      ThermoSanitaire     </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center" *ngIf="isClient">
          <a [routerLink]="['/articles']"
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
          >
            <i class="text-blueGray-400 far fa-regular fa-newspaper text-lg leading-lg mr-2"></i>
            Mes Articles
          </a>
        </li>
        <li class="flex items-center" *ngIf="isClient">
          <a [routerLink]="['/reclamations']"
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
          >
            <i class="text-blueGray-400 fa-solid fa-circle-exclamation text-lg leading-lg mr-2"></i>
            Mes Reclamations
          </a>
        </li>
      </ul>

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center"  *ngIf="!isClient">
          <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
          href=""
          [routerLink]="['/admin/reclamationsadmin']"
          #btnDropdownRef
        >
          Admin Access
        </a>        
      </li>
        <li class="flex items-center px-3 py-2">
          <div class="relative ">
            <i  (click)="toggleDropdown($event)"  class="text-blueGray-400 fa-solid fa-bell text-lg leading-lg"></i>
            <span
              class="absolute top--5 right--10 transform translate-x-1/2 -translate-y-1/2 grid h-5 w-5 place-items-center rounded-full bg-red-600 text-xs text-white border border-white"
              aria-label="Notifications"
            >
            {{ unreadCount }}
            </span>
          </div>
        </li> 
        <div
          class="absolute top-50 bg-blueGray-50 transform translate-y-[-100%] w-auto z-50 bg-white text-base py-2 list-none text-left rounded shadow-lg mt-1 min-w-[12rem]"
          #popoverDropdownRef
          [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
        >
          <div class="flex px-3 items-center justify-between">
            <span class="font-medium bold text-sm">New Notification</span>
        </div>
        <!-- hithi tet3awed -->
        <div class="overflow-y-auto h-56">
          <ng-container *ngFor="let notif of (notifications$ | async)">
            <div 
              *ngIf="notif"
              class="flex items-center mt-3 hover:bg-gray-100 rounded-lg px-2 py-1 cursor-pointer"
            >
              <div class="flex flex-shrink-0 items-end">
                <img class="h-10 w-10 rounded-full" src="../../../../assets/img/reg.png" />
              </div>
              <div class="ml-3">
                <span class="font-bold text-sm uppercase">{{ notif.senderName }}</span>
                <p class="text-sm">{{ notif.message }}</p>
                <span class="text-sm text-blue font-semibold">
                  {{ notif.createdAt | date:'dd/MM/yyyy HH:mm' }}
                </span>
              </div>
            </div>
            <hr>
          </ng-container>
        </div>
        

        </div>
        <li class="flex items-center">
          <button
            (click)="logout()"
            class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
            [routerLink]="['/auth/login']"

          >
            <i class="fas fa-solid fa-arrow-right-to-bracket"></i>
            logout
          </button>
        </li>
      </ul>
    </div>
  </div>
  
</nav>
