<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Bienvenue dans la page Service Après Vente de <span class="text-red-600">ThermoSanitaire</span>
        </h2> 
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          ThermoSanitaire est votre destination en ligne pour tous vos besoins en articles sanitaires et systèmes de chauffage central. Nous proposons une large gamme de produits de haute qualité, allant des équipements de salle de bain aux solutions de chauffage performantes et durables.<a
            href="https://tailwindcss.com/?ref=creativetim"
            class="text-blueGray-600"
            target="_blank"
          >
          </a>
        </p>
        <div class="mt-12">
          <a
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Lancer Une Reclamation
          </a>
          <!-- <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Github Star
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/bg2.svg"
    alt="..."
  />
</section>
<div class="justify-center text-center flex flex-wrap mt-24">
  <div class="w-full md:w-6/12 px-12 md:px-4">
    <h2 class="font-semibold text-4xl">Un aperçu sur nos produits</h2>
    <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">

    </p>
  </div>
</div>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="..."
            src="../../../assets/img/salledebain1.jpg"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Accessoires de Salle de Bain Modernes
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Apportez une touche d'élégance à votre salle de bain avec nos accessoires sanitaires modernes et durables. Robinetteries design, lavabos de qualité : alliez style et praticité.
            </p>
          </blockquote>
        </div>
      </div>
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="..."
            src="../../../assets/img/chauffage.jpg"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Systèmes de Chauffage Central Performants
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Profitez d’un confort thermique optimal grâce à nos systèmes de chauffage central efficaces et fiables. Idéal pour votre maison ou votre entreprise, avec des solutions économes en énergie.
            </p>
          </blockquote>
        </div>
      </div>
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="..."
            height="80px"
            src="../../../assets/img/radiateur.jpg"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Radiateurs Économes en Énergie
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Optimisez votre chauffage avec nos radiateurs innovants, conçus pour une distribution uniforme de la chaleur et des économies d'énergie. Disponible dans des styles variés pour s'adapter à votre intérieur            </p>
          </blockquote>
        </div>
      </div>


 
    </div>
  </div>

<section class="py-20 bg-blueGray-600 overflow-hidden">
  <div class="container mx-auto pb-64">
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-code-branch text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
          Visiter Notre Page Web Officiel Pour Plus de Produits
        </h3>
      
        <p
          class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-400"
        >
        Explorez notre site web officiel pour découvrir une gamme encore plus large de produits sanitaires et de systèmes de chauffage central. Trouvez des solutions adaptées à vos besoins, comparez les options, et profitez d'offres exclusives. Une expérience d'achat simple, rapide et sécurisée vous attend !        </p>
        <a
          href="http://localhost:4200/ "
          class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
        >
          Cliquer ici
        </a>
      </div>

      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
        <i
          class="fa-solid fa-earth-americas text-blueGray-700 text-55 absolute -top-150-px -right-100 left-auto opacity-80"
        ></i>
        
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

