<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a
      class="text-white text-sm uppercase mt-4 hidden lg:inline-block font-semibold">
      Page Admin
      </a
    >
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
      <li class="flex items-center">
        <button
          (click)="logout()"
          class="bg-red-500 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          type="button"
          [routerLink]="['/auth/login']"

        >
          <i class="fas fa-solid fa-arrow-right-to-bracket"></i>
          logout
        </button>
      </li>
    </ul>
  
  </div>
</nav>
